* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.nav_list { 
  list-style-type: none;
  float: right;
  margin-right: 20px;
}

.nav_item {
  display: inline-block;
  padding: 8px 12px;
}

.nav_item a {
  color: orangered;
  text-decoration: none
}

.nav_item:hover {
  background-color: #898484;
}

/* HEADER NAME + JOB TITLE */
.home {
  background-color: black;
  z-index: 10;
}

.background-image {
  background: 
  linear-gradient(
    rgba(255, 255, 255, 0.4), 
    rgba(0, 0, 0, 0.8)
  ),
  url('background.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh;
}

.home .header_cmn {
  width: 100%;
  padding: 0 12vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home .header_name {
  padding-top: 10vw;
  font-size: 2.8em;
  letter-spacing: 0.1em;
}

.home .header_title {
  /* background: #1b1b1b; */
  color: white;
  height: 16vw;
  font-size: 2.4em;
  letter-spacing: 0.4em;
}

/* ABOUT SECTION */
.about_title {
  text-align: center;
  padding-top: 20px;
  font-size: 2.5em;
  border-bottom: 1px solid black;
  width: 70%;
  margin: auto;
}

.about_container {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

.photo_container {
  padding: 40px; 
}

.photo {
  border-radius: 50%;
}

.about_icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon_container {
  padding: 15px;
  font-size: 1.2em;
}

.about_icon {
  padding-right: 10px;
}

.about_text {
  width: 70%;
  margin: auto;
}

.icons_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}